* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: 'Sora', sans-serif;
}

body {
  background-color: #f8f8f8;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.9;
}

i {
  color: #ff8c8c; /* tom de rosa */
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  color: #ff5f5f; /* tom de rosa mais escuro ao passar o mouse */
}

.header-button {
  border: 1px solid #ff8c8c;
  color: #fddfdf;
  padding: 8px 24px;
  border-radius: 8px;
  background-color: transparent;
  text-decoration: none;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #ff5f5f;
  background-color: #ff5f5f;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.hero {
  color: #ff8c8c;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
  font-family: 'Sora', sans-serif;
}

.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 40px;
}

.hero p {
  text-align: center;
  margin: 14px 0;
}

.button-contact {
  color: #fddfdf;
  text-decoration: none;
  background-color: #ff5f5f;
  padding: 14px 28px;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.about {
  background-color: #f8f8f8;
  overflow: hidden;
  color: #333;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}

.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
  color: #ff5f5f;
}

.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

.services {
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.services-content h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
  color: #ff5f5f;
}

.services-content p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.haircuts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 0 44px 34px 44px;
}

.haircuts h2 {
  color: #ff5f5f;
  font-size: 38px;
  margin-bottom: 24px;
}


.haircut {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.haircut img {
  width: 100%;
  max-width: 425px;
  transition: transform 0.2s;
}

.haircut img:hover {
  transform: scale(1.2);
  z-index: 1;
}

.haircut-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  background-color: #fff;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.haircut-info button {
  color: #fff;
  background-color: #ff5f5f;
  padding: 4px 8px;
  border-radius: 4px;
  border: 0;
  cursor: default;
  padding-left: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.haircut-info a {
text-decoration: none;
color: #fddfdf;
justify-content: center;
align-items: center;
text-align: center;
}

.services {
  margin-bottom: 40px;
}

.testimonials {
  background-color: #f8f8f8;
  color: #333;
  padding: 54px 14px;
  text-align: center;
}

.testimonials h2 {
  padding-bottom: 20px;
}

.testimonial {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.testimonial p {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial span {
  display: block;
  font-weight: bold;
  color: #ff5f5f;
}

.services h2 {
  color: #ff5f5f;
  text-align: center;
}

.services-content ul {
  list-style: none;
  padding: 0;
  text-align: left;
  max-width: 600px;
  margin: 0 auto;
}

.services-content li {
  margin-bottom: 10px;
}

.services-content li::before {
  color: #ff5f5f;
  font-size: 1.5em;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.footer {
  background-color: #fddfdf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #ff5f5f;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #FFF;
}

.btn-whatsapp {
  position: fixed;
  bottom: 14px;
  right: 24px;
  z-index: 99;
}

.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}

.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  background-color: #232224;
  color: #FFF;
  opacity: 0;
  transition: opacity 0.4s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.form {
  width: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form label,
.form input,
.form textarea,
.form button {
  display: flex;
  width: 50%;
}

.form input,
.form textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ff5f5f;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form label {
  color: #ff5f5f;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form button {
  padding: 1rem;
  color: #fddfdf;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ff5f5f;
}

.form button:hover {
  outline: none;
  font-size: 20px;
  font-weight: 600;
  background: #fff;
  color: #ff5f5f;
}